@font-face {
  font-family: 'Apercu';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/apercu_regular.eot");
  src: url("../fonts/apercu_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu_regular.woff") format("woff"), url("../fonts/apercu_regular.ttf") format("truetype"), url("../fonts/apercu_regular.svg#ApercuRegular") format("svg"); }

@font-face {
  font-family: 'Apercu';
  font-weight: lighter;
  font-style: normal;
  src: url("../fonts/apercu_light.eot");
  src: url("../fonts/apercu_light.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu_light.woff") format("woff"), url("../fonts/apercu_light.ttf") format("truetype"), url("../fonts/apercu_light.svg#ApercuLight") format("svg"); }

@font-face {
  font-family: 'Apercu';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/apercu_bolds.eot");
  src: url("../fonts/apercu_bolds.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu_bolds.woff") format("woff"), url("../fonts/apercu_bolds.ttf") format("truetype"), url("../fonts/apercu_bolds.svg#ApercuBolds") format("svg"); }

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.drop-shadow, .grid-item {
  box-shadow: rgba(0, 0, 0, 0.135) 5px 5px 30px; }

.drop-shadow-active, .grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 30px; }

.shadowDepth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadowDepth2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadowDepth3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadowDepth4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadowDepth5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@-webkit-keyframes fall {
  0% {
    opacity: 0.9;
    top: 0; }
  100% {
    opacity: 0.2;
    top: 100%; } }

@keyframes fall {
  0% {
    opacity: 0.9;
    top: 0; }
  100% {
    opacity: 0.2;
    top: 100%; } }

@-webkit-keyframes blow-soft-left {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -50%; } }

@keyframes blow-soft-left {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -50%; } }

@-webkit-keyframes blow-medium-left {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -100%; } }

@keyframes blow-medium-left {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -100%; } }

@-webkit-keyframes blow-soft-right {
  0% {
    margin-left: 0; }
  100% {
    margin-left: 50%; } }

@keyframes blow-soft-right {
  0% {
    margin-left: 0; }
  100% {
    margin-left: 50%; } }

@-webkit-keyframes blow-medium-right {
  0% {
    margin-left: 0; }
  100% {
    margin-left: 100%; } }

@keyframes blow-medium-right {
  0% {
    margin-left: 0; }
  100% {
    margin-left: 100%; } }

@-webkit-keyframes sway-0 {
  0% {
    -webkit-transform: rotate(-5deg); }
  40% {
    -webkit-transform: rotate(28deg); }
  100% {
    -webkit-transform: rotate(3deg); } }

@keyframes sway-0 {
  0% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  40% {
    -ms-transform: rotate(28deg);
    transform: rotate(28deg); }
  100% {
    -ms-transform: rotate(3deg);
    transform: rotate(3deg); } }

@-webkit-keyframes sway-1 {
  0% {
    -webkit-transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(43deg); }
  100% {
    -webkit-transform: rotate(15deg); } }

@keyframes sway-1 {
  0% {
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  40% {
    -ms-transform: rotate(43deg);
    transform: rotate(43deg); }
  100% {
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); } }

@-webkit-keyframes sway-2 {
  0% {
    -webkit-transform: rotate(15deg); }
  40% {
    -webkit-transform: rotate(56deg); }
  100% {
    -webkit-transform: rotate(22deg); } }

@keyframes sway-2 {
  0% {
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  40% {
    -ms-transform: rotate(56deg);
    transform: rotate(56deg); }
  100% {
    -ms-transform: rotate(22deg);
    transform: rotate(22deg); } }

@-webkit-keyframes sway-3 {
  0% {
    -webkit-transform: rotate(25deg); }
  40% {
    -webkit-transform: rotate(74deg); }
  100% {
    -webkit-transform: rotate(37deg); } }

@keyframes sway-3 {
  0% {
    -ms-transform: rotate(25deg);
    transform: rotate(25deg); }
  40% {
    -ms-transform: rotate(74deg);
    transform: rotate(74deg); }
  100% {
    -ms-transform: rotate(37deg);
    transform: rotate(37deg); } }

@-webkit-keyframes sway-4 {
  0% {
    -webkit-transform: rotate(40deg); }
  40% {
    -webkit-transform: rotate(68deg); }
  100% {
    -webkit-transform: rotate(25deg); } }

@keyframes sway-4 {
  0% {
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); }
  40% {
    -ms-transform: rotate(68deg);
    transform: rotate(68deg); }
  100% {
    -ms-transform: rotate(25deg);
    transform: rotate(25deg); } }

@-webkit-keyframes sway-5 {
  0% {
    -webkit-transform: rotate(50deg); }
  40% {
    -webkit-transform: rotate(78deg); }
  100% {
    -webkit-transform: rotate(40deg); } }

@keyframes sway-5 {
  0% {
    -ms-transform: rotate(50deg);
    transform: rotate(50deg); }
  40% {
    -ms-transform: rotate(78deg);
    transform: rotate(78deg); }
  100% {
    -ms-transform: rotate(40deg);
    transform: rotate(40deg); } }

@-webkit-keyframes sway-6 {
  0% {
    -webkit-transform: rotate(65deg); }
  40% {
    -webkit-transform: rotate(92deg); }
  100% {
    -webkit-transform: rotate(58deg); } }

@keyframes sway-6 {
  0% {
    -ms-transform: rotate(65deg);
    transform: rotate(65deg); }
  40% {
    -ms-transform: rotate(92deg);
    transform: rotate(92deg); }
  100% {
    -ms-transform: rotate(58deg);
    transform: rotate(58deg); } }

@-webkit-keyframes sway-7 {
  0% {
    -webkit-transform: rotate(72deg); }
  40% {
    -webkit-transform: rotate(118deg); }
  100% {
    -webkit-transform: rotate(68deg); } }

@keyframes sway-7 {
  0% {
    -ms-transform: rotate(72deg);
    transform: rotate(72deg); }
  40% {
    -ms-transform: rotate(118deg);
    transform: rotate(118deg); }
  100% {
    -ms-transform: rotate(68deg);
    transform: rotate(68deg); } }

@-webkit-keyframes sway-8 {
  0% {
    -webkit-transform: rotate(94deg); }
  40% {
    -webkit-transform: rotate(136deg); }
  100% {
    -webkit-transform: rotate(82deg); } }

@keyframes sway-8 {
  0% {
    -ms-transform: rotate(94deg);
    transform: rotate(94deg); }
  40% {
    -ms-transform: rotate(136deg);
    transform: rotate(136deg); }
  100% {
    -ms-transform: rotate(82deg);
    transform: rotate(82deg); } }

.sakura, .loading {
  background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.7), rgba(255, 197, 208, 0.7));
  background: linear-gradient(120deg, rgba(255, 183, 197, 0.7), rgba(255, 197, 208, 0.5));
  pointer-events: none;
  position: absolute; }

.loading {
  z-index: 9999; }

body, html {
  height: 100%; }

html.home {
  overflow: hidden !important; }
  html.home body {
    overflow: hidden !important;
    position: relative; }

body {
  font-family: "Apercu", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #222222; }

.wrap {
  width: 100%;
  height: 100%;
  display: block; }
  .wrap.ng-enter {
    transition: opacity .5s ease-in;
    opacity: 0; }
  .wrap.ng-enter-active {
    opacity: 1; }

.navbar {
  background: #F8F8F8;
  max-height: 100%;
  z-index: 99;
  margin: 0;
  transition: background .2s ease-out; }
  @media (min-width: 768px) {
    .navbar.scrolled {
      background: #FFFFFF; } }

.icon-link {
  height: 25px;
  top: 6px; }
  @media (min-width: 768px) {
    .icon-link {
      top: 5px; } }
  .icon-link svg {
    height: 100%;
    width: auto; }

.navbar-brand {
  height: 70px;
  width: 70px;
  padding: 5px 15px;
  float: none;
  display: block;
  margin: 0 auto; }
  .navbar-brand svg {
    height: 100%;
    width: 100%;
    margin: 0 auto; }
    .navbar-brand svg #rectangle-bg {
      transition: fill .15s ease-out; }
    .navbar-brand svg:hover #rectangle-bg {
      fill: #dfbaba; }
  @media (min-width: 768px) {
    .navbar-brand {
      float: left;
      height: 80px;
      width: 80px; } }

.navbar-nav {
  text-align: center;
  margin: 0; }
  .navbar-nav li {
    display: inline-block;
    padding: 10px 5px; }
    @media (min-width: 768px) {
      .navbar-nav li {
        padding: 10px 15px; } }
    .navbar-nav li a {
      color: #555;
      padding: 0;
      font-weight: normal;
      background: none;
      position: relative; }
      .navbar-nav li a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgba(0, 0, 0, 0.1);
        content: '';
        opacity: 0;
        transform: translateY(10px);
        transition: all .2s ease-in-out; }
      .navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active, .navbar-nav li a.active {
        background: none; }
        .navbar-nav li a:hover:after, .navbar-nav li a:focus:after, .navbar-nav li a:active:after, .navbar-nav li a.active:after {
          opacity: 1;
          transform: translateY(10px); }
        @media (min-width: 768px) {
          .navbar-nav li a:hover:after, .navbar-nav li a:focus:after, .navbar-nav li a:active:after, .navbar-nav li a.active:after {
            opacity: 1;
            transform: translateY(-10px); } }
  @media (min-width: 768px) {
    .navbar-nav {
      text-align: right; }
      .navbar-nav li a {
        line-height: 60px; } }

.hero .hero-heading {
  padding-bottom: 1.5rem;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.hero .hero-subheading {
  font-weight: lighter;
  margin: 0;
  padding-top: 1.5rem; }

.home .wrap, .contact .wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.home .wrap {
  background: #F7EEEE; }

.graphic {
  padding: 120px 0 0 0; }
  @media (min-width: 768px) {
    .graphic {
      padding: 80px 0 0 0; } }

.photo-stage {
  padding: 25px; }

.grid-item {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin: 0 0 25px 0;
  transition: opacity .2s ease-out, box-shadow .2s ease-out; }
  @media (min-width: 768px) {
    .grid-item {
      width: 30%; } }

.main-content a {
  color: inherit;
  font-weight: bold;
  transition: box-shadow .2s ease-out; }
  .main-content a:hover, .main-content a:focus, .main-content a:visited, .main-content a:active {
    text-decoration: none;
    color: inherit;
    box-shadow: 0 3px 0 0 #dfbaba; }

.pswp__caption__center {
  text-align: center;
  font-size: 1.25em; }
